.myInfoTitle {
    font-weight: bold;
    font-size: 25px;
    border-bottom: solid 2px green;
}
.myInfoTable {
    display: table;
    width: 100%;
}
.myInfoRow {
    display: table-row;
}
.myInfoCell {
    display: table-cell;
    padding: 50px 0px 0px 80px;
}
.myInfoItem {
    font-weight: bold;
    font-size: 28px;
    background: linear-gradient(to top, #abf200 50%, transparent 50%);
}
.myInfoInfo {
    font-size: 20px;
}
.myInfoPointCharge {
    margin-left: 5%;
    margin-bottom: 1.5%;
}
.col1 {
    width: 20%;
}
.col2 {
    width: 60%;
}
.col3 {
    width: 10%;
}
.modalButton {
  float: right;
  border: 2px solid black;
  padding: 5px 15px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.cancel {
    background: rgb(226, 50, 50);
    color: white;
}
.pass {
    background: #abf200;
}
.modifyButton {
    padding-top: 50px;
    margin-right: 2%;
    max-width: 40px;
    float: right;
}
.modal {
    z-index: 10000;
}