.productDetailDescript {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .productDetailDescriptHeader {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    font-size: 30px;
    padding: 3%;
  }
  .productDetailDescriptBody {
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 20px;
    padding: 0 5%;
    margin-bottom: 100px;
  }