@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
div h1 {
    padding: 10px;
}
  
div h1 {
    text-align: center;
    font-family: "NEXON Lv1 Gothic OTF Bold";
}