.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 52px;
}
.loginTitle {
    width: 600px;
    float: left;
    font-size: 30px;
}
.loginInput {
    width: 500px;
    align-items: center;
    margin: 0px;
}
.border {
    border: solid 2px;
    border-color: chartreuse;
    border-style: inset;
    padding: 40px;
}
.loginButton {
    width: 25%;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    float: right;
}
.active {
    background: linear-gradient(
      109.63deg,
      rgb(200, 245, 192) 1.79%,
      rgb(4, 195, 4) 101.38%
    );
}
.divider {
    font-size: 10px;
}
.social {
    margin-top: 90px;
}
.socialTitle {
    padding: 0 0 1px 0;
    border-bottom: solid 1px;
    font-size: 18px;
}
.error {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.socialButton {
    padding-top: 10px;
    width: 10%;
    height: 10%;
    margin: 15px;
    cursor: pointer;
    float: right;
}
.loginJoin {
    clear: both;
    float: right;
}