.detailTapHeaderRight,
.detailTapHeaderLeft {
  font-family: "NEXON Lv1 Gothic OTF Bold";
}
.detailTapHeader {
  width: 100%;
}
.detailTapHeaderLeft {
  float: left;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1% 0;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "SDSamliphopangche_Outline";
  width: 50%;
}
.detailTapHeaderLeftIsActive {
  float: left;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1% 0;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-family: "SDSamliphopangche_Outline";
  cursor: pointer;
  background: linear-gradient(#ffffff 80%, #abf200 20%);
}
.detailTapHeaderRight {
  float: right;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1% 0;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-family: "SDSamliphopangche_Outline";
  cursor: pointer;
}
.detailTapHeaderRightIsActive {
  float: right;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1% 0;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-family: "SDSamliphopangche_Outline";
  cursor: pointer;
  background: linear-gradient(#ffffff 80%, #abf200 20%);
}
.detailTapBody {
  clear: both;
}