@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  #title,
  #cur,
  #rate,#soldout,#end {
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  #stock,#unit,
  #max,
  #date,
  #watch {
    font-family: "NEXON Lv1 Gothic OTF";
  }
  #cardview {
    width: 430px;
    display: inline-block;
  }
  #card{
    position: relative;
    border: solid 1px rgb(179, 178, 178);
    border-radius: 20px;
    margin: 30px 60px;
    cursor: pointer;
  }
  #card:hover {
    box-shadow: 2px 2px rgb(179, 178, 178);
    transition: 0.4s;
  }
  #box {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  #img:hover {
    transform: scale(1.15);
    transition: 0.3s;
  }
  #grey{
      /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  /* Chrome, Safari */
  -webkit-filter: grayscale(1);
  /* Firefox */
  filter: grayscale(1) brightness(65%);
  }
  .v-img {
    border-radius: 20px 20px 0 0;
  }
  #info {
    height: 125px;
  }
  #info p{
    position: absolute;
  }
  #dday {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
  }
  #label{
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
  }
  #remain {
    font-size: 13px;
    color: white;
    margin:0 auto;
    width: 66px;
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  #day {
    font-size: 16px;
    margin-top:0px;
    width: 66px;
    color: white;
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  #title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    width: 200px;
    margin: 0 auto;
  }
  #stock {
    font-size: 15px;
    bottom: 85px;
    left: 20px;
  }
  #rate {
    color: red;
  }
  #notrate{
    color:red;
    font-size: 16px;
  }
  #date {
    width: 180px;
    font-size: 15px;
    left: 20px;
    bottom: 60px;
  }
  #max {
    font-size: 17px;
    bottom: 0px;
    color: rgb(154, 150, 154);
    bottom: 50px;
    right: 20px;
    text-decoration: line-through;
  }
  #cur {
    font-size: 20px;
    bottom: 30px;
    right: 20px;
    margin-bottom: 10px;
  }
  #detail{
    font-size:14px;
    font-family: "NEXON Lv1 Gothic OTF";
    width:180px;
    border: 1px solid grey;
    bottom: 10px;
    left:64px;
    text-align: center;
    border-radius: 10px;
    margin:0 auto;
  }
  #soldout,#end{
    font-size: 14px;
    color: white;
    margin-top:10px;
    width:66px;
  }
  #unit{
    font-size: 15px;
    bottom: 85px;
    right: 20px;
  }
