@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  .reserveTitle,
  .reserveCur,
  .reserveRate,
  .reserveSoldout,
  .reserveEnd {
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  .reserveRemainStock,
  .reserveStock,
  .reserveGoal,
  .reserveMax,
  .reserveDate,
  .reserveDueDate {
    font-family: "NEXON Lv1 Gothic OTF";
  }
  .reserveCardView {
    width: 300px;
    display: inline-block;
  }
  .reserveCard {
    position: relative;
    border: solid 1px rgb(179, 178, 178);
    border-radius: 20px;
    cursor: pointer;
  }
  .reserveCard:hover {
    box-shadow: 2px 2px rgb(179, 178, 178);
    transition: 0.4s;
  }
  .reserveBox {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  .reserveImgGrayScale {
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    /* Chrome, Safari */
    -webkit-filter: grayscale(1);
    /* Firefox */
    filter: grayscale(1) brightness(65%);
  }
  .reserveImg:hover {
    transform: scale(1.15);
    transition: 0.3s;
  }
  .reserveImgGrayScale:hover {
    transform: scale(1.15);
    transition: 0.3s;
  }
  .v-img {
    border-radius: 20px 20px 0 0;
  }
  .reserveInfo {
    height: 145px;
  }
  .reserveInfo p {
    position: absolute;
  }
  .reserveDday {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
  }
  .reserveLabel {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .reserveRemain {
    font-size: 13px;
    margin: 0 auto;
    color: white;
    width: 66px;
    font-family: "NEXON Lv1 Gothic OTF";
  }
  .reserveDay {
    font-size: 16px;
    margin: 0 auto;
    width: 66px;
    color: white;
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  .reserveTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .reserveRemainStock {
    font-size: 15px;
    bottom: 100px;
    right: 20px;
  }
  .reserveDueDate {
    font-size: 15px;
    bottom: 60px;
    left: 20px;
  }
  .reserveStock {
    font-size: 15px;
    bottom: 100px;
    left: 20px;
  }
  .reserveCur {
    font-size: 20px;
    bottom: 30px;
    right: 20px;
    margin-bottom: 10px;
  }
  .reserveGoal {
    font-size: 15px;
    bottom: 80px;
    left: 20px;
  }
  .reserveMax {
    font-size: 17px;
    bottom: 50px;
    color: rgb(154, 150, 154);
    right: 20px;
    text-decoration: line-through;
  }
  .reserveRate {
    color: red;
  }
  .reserveDate {
    width: 180px;
    font-size: 15px;
    left: 20px;
    bottom: 60px;
  }
  .reserveNotrate {
    color: red;
    font-size: 16px;
  }
  .reserveDetail {
    font-size: 14px;
    font-family: "NEXON Lv1 Gothic OTF";
    width: 180px;
    border: 1px solid grey;
    bottom: 10px;
    left: 64px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
  }
  .reserveSoldout,
  .reserveEnd {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    width: 66px;
  }
  .reserveUnit {
    font-size: 15px;
    bottom: 85px;
    right: 20px;
  }
  .reserveFailInfo {
    font-size: 18px;
    font-family: "NEXON Lv1 Gothic OTF Bold";
    text-align: center;
    margin: 10px 50px 13px 50px;
    padding: 10px 0;
    border: 1px solid black;
    width: 200px;
    min-height: 80px;
  }
  .reserveFailDetail {
    font-size: 14px;
    font-family: "NEXON Lv1 Gothic OTF";
    width: 180px;
    overflow: auto;
    border: 1px solid grey;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 10px auto;
  }