@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  .sellTitle,
  .sellCur,
  .sellRate,
  .sellSoldout,
  .sellEnd {
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  .sellStock,
  .sellUnit,
  .sellMax,
  .sellDate,
  .sellWatch {
    font-family: "NEXON Lv1 Gothic OTF";
  }
  .sellCardView {
    width: 300px;
    display: inline-block;
  }
  .sellCard {
    position: relative;
    border: solid 1px rgb(179, 178, 178);
    border-radius: 20px;
    cursor: pointer;
  }
  .sellCard:hover {
    box-shadow: 2px 2px rgb(179, 178, 178);
    transition: 0.4s;
  }
  .sellBox {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  .sellImg:hover {
    transform: scale(1.15);
    transition: 0.3s;
  }
  .sellImgGrayScale {
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    /* Chrome, Safari */
    -webkit-filter: grayscale(1);
    /* Firefox */
    filter: grayscale(1) brightness(65%);
  }
  .v-img {
    border-radius: 20px 20px 0 0;
  }
  .sellInfo {
    height: 125px;
  }
  .sellInfo p {
    position: absolute;
  }
  .sellDday {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
  }
  .sellLabel {
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .sellRemain {
    font-size: 13px;
    margin: 0 auto;
    color: white;
    width: 66px;
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  .sellDay {
    font-size: 16px;
    margin: 0 auto;
    width: 66px;
    color: white;
    font-family: "NEXON Lv1 Gothic OTF Bold";
  }
  .sellTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    width: 200px;
    margin: 0 auto;
  }
  .sellStock {
    font-size: 15px;
    bottom: 85px;
    left: 20px;
  }
  .sellRate {
    color: red;
  }
  .sellNotrate {
    color: red;
    font-size: 16px;
  }
  .sellDate {
    width: 180px;
    font-size: 15px;
    left: 20px;
    bottom: 60px;
  }
  .sellMax {
    font-size: 17px;
    bottom: 0px;
    color: rgb(154, 150, 154);
    bottom: 50px;
    right: 20px;
    text-decoration: line-through;
  }
  .sellCurStock {
    font-size: 20px;
    bottom: 30px;
    left: 20px;
    margin-bottom: 10px;
  }
  .sellCurPrice {
    font-size: 20px;
    bottom: 30px;
    right: 20px;
    margin-bottom: 10px;
  }
  .sellDetail {
    font-size: 14px;
    font-family: "NEXON Lv1 Gothic OTF";
    width: 180px;
    border: 1px solid grey;
    bottom: 10px;
    left: 64px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
  }
  .sellSoldout,
  .sellEnd {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    width: 66px;
  }
  .sellUnit {
    font-size: 15px;
    bottom: 85px;
    right: 20px;
  }